<%= link_to 'Students', '/students' %>
<%= link_to 'New School', '/schools/new' %>
<h1>Schools</h1>

<% @schools.most_recent.each_with_index do |school, index| %>
  <div id="school-<%= index %>">
    <h3><a href="/schools/<%= school.id %>"><%= school.school_name %></a></h3>
    <p> address: <%= school.school_address %></p>
    <p> created at: <%= school.created_at %></p>
    <p> updated at: <%= school.updated_at %></p>
    <p> active: <%= school.active %></p>
    <%= link_to 'Update School', "/schools/#{school.id}/edit" %>
    <%= link_to 'Delete School', "/schools/#{school.id}", method: :delete %>
  </div>
<% end %>
