<%= link_to 'Schools', '/schools' %>
<%= link_to 'Students', '/students' %>
<h1><%= @school.school_name %></h1>
<p>Address: <%= @school.school_address %></p>
<p>Created At: <%= @school.created_at %></p>
<p>Updated At: <%= @school.updated_at %></p>
<p>Active: <%= @school.active %></p>
<p>Student Count: <%= @school.student_count %></p>
<%= link_to "#{@school.school_name} Students", '/students' %>
