<a href="/schools">School Index</a>

<h1><%= @school.school_name %></h1>
<p>Address: <%= @school.school_address %></p>
<p>Created At: <%= @school.created_at %></p>
<p>Updated At: <%= @school.updated_at %></p>
<p>Active: <%= @school.active %></p>
