<%= link_to 'Students', '/students' %>
<h1><%= @school.school_name %></h1>
<%= link_to "Create Student", "/schools/#{@school.id}/students/new" %>
<p>
<%= form_with url: "/schools/#{@school.id}/students", method: :get, local: true do |form| %>
<%= form.hidden_field :sort_a, value: true %>
<%= form.submit 'Sort Students' %>
<% end %>
</p>
<% @students.each_with_index do |student, index| %>
  <div id="school_student-<%= index %>">
  <h3><a href="/students/<%= student.id %>"><%= student.student_name %></a></h3>
  <p> School ID: <%= student.school_id %></p>
  <p> student age: <%= student.age %></p>
  <p> FRL: <%= student.frl %></p>
  <p> created at: <%= student.created_at %></p>
  <p> updated at: <%= student.updated_at %></p>
  </div>
<% end %>
