<%= link_to 'Students', '/students' %>
<a href="/schools">School Index</a>
<h1><%= @school.school_name %></h1>

<% @students.each do |student| %>
  <h3><a href="/students/<%= student.id %>"><%= student.student_name %></a></h3>
  <p> School ID: <%= student.school_id %></p>
  <p> student age: <%= student.age %></p>
  <p> FRL: <%= student.frl %></p>
  <p> created at: <%= student.created_at %></p>
  <p> updated at: <%= student.updated_at %></p>
<% end %>
